@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=The+Nautigal&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
}

.content {
    color: #09FBBA;
    transition: 1s;

}

.logo {

    margin-top: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;

}

.link-mobile {
    opacity: 0;
    display: none;
}

header ul li a {
    margin: 0px 30px 0px 0px;
    color: black;
    font-size: 0.6em;
}

a {
    color: black;
}



/************Menu desktop**************/
.menu-desktop {
    display: flex;
    justify-content: space-around;
    background-color: #FDF7F7;
    padding: 5px 0 5px 0;
}

.menu-desktop .list-ul {
    display: flex;
}

.menu-desktop .list-ul li {
    margin-left: 30px;
}


li {
    color: #292929;
    list-style: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 5px;
}

table {
    width: 60%;
    border: 1px solid gray;
    border-collapse: separate;
    text-align: center;
    margin: 50px auto;

}

table th {
    background-color: rgb(23, 24, 26);
    color: white;
}

table th,
td {
    padding: 10px;
}

/* li:hover {
    background: #292929;
    color: #FCFCFB;
} */
footer {
    margin-top: 60px;
    height: 60px;
    background-color: #C4C4C4;
    text-align: center;
}

footer p {
    padding-top: 15px;
    font-size: 1em;
}



/********************CSS CITATION FRONT **************************/
.container-citation {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 30px auto;


}

.citation {
    width: 60%;
    background-color: #F1EEEE;
    margin-top: 30px;
    border: 1px solid #F1EEEE;
    border-radius: 10px;

}

.citation h4 {
    margin-right: -100px;
}

.man-container {
    width: 60%;
    height: 300px;
    background-color: #F1EEEE;
    text-align: center;
    border-radius: 20px
}

.man-container div {
    background-color: #111010;
    border-radius: 20px 20px 0 0;
}

.man-image {
    border-radius: 50%;
}

.button-follow {
    width: 200px;
    border-style: none;
    background-color: #1947eb;
    border-radius: 10px;
    color: white;
    height: 30px;
    margin: 10px auto;

}

/********************CSS BACK OFFICE****************/
.container-bakoffice {
    position: relative;
}

.btn-ajouter {
    border-style: none;
    position: absolute;
    background-color: #C4C4C4;
    height: 30px;
    border-radius: 7px;
    width: 150px;
    right: 300px
}

.btns-sup {
    border-style: none;
    background-color: #C4C4C4;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}

/*************************Animation citations*********************/




.poem {
    margin: 20px 35%;
}

figure {
    position: relative;
    background-image: url('../images/pluie.jpg');
    width: 320px;
    height: 400px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(230, 230, 230, 0.7);
    color: #666;
    transition: all 0.35s ease;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 3px 2px 24px 0px rgba(190, 158, 167, 1);
}

figure p {
    width: 320px;
    background-color: rgba(255, 255, 255, 0.9);

    border-bottom: 5px solid rgba(190, 158, 167, 0.4);
    font-family: "Poppins", sans-serif;
    padding: 20px;
    bottom: 5px;
    position: absolute;
    transition: all 0.45s ease;
}

/***/

figure figcaption {
    transform: translateX(-120%);
    background-color: rgba(255, 255, 255, 0.9);
    width: 250px;
    height: 330px;
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 15px;
    left: 0px;
    right: 15px;
    font-family: "Poppins", serif;
    font-size: 15px;
    border: 15px solid rgba(190, 158, 167, 0.4);
    transition: all 1.5s ease;
}

figure:hover figcaption {
    transition: all 1s ease;
    transform: translate(0, 0);
}

figure:hover p {
    transform: translateX(-120%);
}

figure .author {
    text-align: right;
    margin-top: 25px;
}

h2 {
    text-align: center;
    background: rgba(190, 158, 167, 0.5);
    border-bottom: 5px solid rgba(190, 158, 167, 0.9);
    color: #333;
    font-size: 13px;
    font-family: "Special Elite", cursive;
    padding: 20px;
    width: 250px;
    margin: auto;
    margin-top: 40px;
    transition: all ease 1s;
}

h2:hover {
    background: rgba(190, 158, 167, 0.7);
    border-bottom: 5px solid rgba(190, 158, 167, 0.8);
}

/**************** MOBILE************************/
@media screen and (max-width: 800px) {
    .menu-desktop .list-ul li {
        display: none;
    }

    #sidebar {
        position: absolute;
        margin-top: -80px;
        width: 200px;
        height: 400%;
        background: #FDF7F7;
        left: -300px;
        transition: 1s ease-in-out;
        z-index: 4;

    }

    .logo {
        margin-right: -500px;
        margin-top: 10px;

    }

    .toggle-button {
        position: absolute;
        top: 30px;
        left: 310px;
        cursor: pointer;
        height: 50px;
        width: 50px;
    }

    .toggle-button span {
        width: 40px;
        height: 5px;
        border-radius: 5px;
        background: #0f0f0f;
        display: block;
        margin-top: 2.3px;
        transition: 2s ease-in-out;

    }

    #sidebar.active {
        left: 0;

    }

    #sidebar.active .toggle-button {
        top: 2.8rem;
        left: 200px;
    }

    #sidebar.active span:nth-child(1) {
        transform: translateY(145%) rotate(45deg);
        top: 0px;
    }

    #sidebar.active span:nth-child(2) {
        opacity: 0;
    }

    #sidebar.active span:nth-child(3) {
        transform: translateY(-145%) rotate(-45deg);
    }

    #sidebar.active~.content {
        opacity: 0.3;
    }

    .link-mobile {
        opacity: 1;
        display: flex;
        flex-direction: column;
    }

    .container-citation {
        flex-wrap: wrap;
    }

    /***********MOBILE BACKOFFICE*************/
    .btn-ajouter {
        border-style: none;
        background-color: #C4C4C4;
        height: 30px;
        border-radius: 7px;
        width: 150px;
        left: 100px;
        /* display: none; */
    }

    .titre-back {
        display: none;
    }
}
